.MoonArea {
    display: block;
    width: 350px;
    height: 350px;
    position: relative;
    margin: 100px auto 110px auto;
}

.BaseMoonShadow {
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    animation: ShadowChange linear;
}

@keyframes ShadowChange {
    0%  {
        width: 50%;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.7);    
        border-radius:  0 100% 100% 0/50%;
        border-left: 0px solid rgba(0, 0, 0, 0.7);
        border-right: 0;
    }
    25%  {
        width: 0%;
        left: 50%;
        background-color: rgba(0, 0, 0, 0.7);    
        border-radius:  0 100% 100% 0/50%;
        border-left: 0px solid rgba(0, 0, 0, 0.7);    
        border-right: 0;
    }  
    25.01% {
        width: 50%;
        border-radius: 100% 0 0 100% /50%;
        border-right: 0;
        border-left: 175px solid rgba(0, 0, 0, 0.7);    
        background-color: rgba(0, 0, 0, 0);    
        left: 0%;
    }
    50% {
        background-color: rgba(0, 0, 0, 0);    
        width: 50%;
        border-right: 0px;
        border-left: 0px solid rgba(0, 0, 0, 0.7);        
        left: 0%;
        border-radius: 100% 0 0 100% /50%;
    }
    50.01% {
        background-color: rgba(0, 0, 0, 0);    
        width: 50%;
        border-right: 0px solid rgba(0, 0, 0, 0.7);        
        border-left: 0;        
        left: 50%;
        border-radius: 0 100% 100% 0/50%;    
    }
    75% {
        background-color: rgba(0, 0, 0, 0);    
        width: 50%;
        border-right: 175px solid rgba(0, 0, 0, 0.7);        
        border-left: 0;        
        left: 50%;
        border-radius: 0 100% 100% 0/50%;        
    }
    75.01% {
        width: 0.1%;
        border-radius: 100% 0 0 100% /50%;
        border-right: 0;        
        border-left: 0;    
        background-color: rgba(0, 0, 0, 0.7);    
        left: 50%; 
    } 
    100% {
        background-color: rgba(0, 0, 0, 0.7);    
        width: 50%;
        border-right: 0px;
        border-left: 0;        
        left: 0%;
        border-radius: 100% 0 0 100% /50%;
    }
}

.BaseMoonShadow2 {
    height: 100%;
    box-sizing: border-box;
    animation: ShadowChange2 linear;  
    animation-timing-function: steps(1, end);
    width: 50.1%;
    position: absolute;
}

@keyframes ShadowChange2 {
    0% {
        background-color: rgba(0, 0, 0, 0.7);
        left: 0;
        border-radius: 100% 0 0 100% / 50%;    
    }
    25% {
        background-color: rgba(0, 0, 0, 0.7);
        left: 0;
        border-radius: 100% 0 0 100% / 50%;    
    }
    25.01% {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        border-radius: 100% 0 0 100% / 50%;    
    }
    50% {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        border-radius: 100% 0 0 100% / 50%;    
    }
    50.01% {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        border-radius: 100% 0 0 100% / 50%;    
    }
    75% {
        background-color: rgba(0, 0, 0, 0);
        left: 0;
        border-radius: 100% 0 0 100% / 50%;        
    }
    75.01% {
        background-color: rgba(0, 0, 0, 0.7);
        left: 50%;
        border-radius: 0 100% 100% 0/ 50%;        
    }
    100% {
        background-color: rgba(0, 0, 0, 0.7);
        left: 50%;
        border-radius: 0 100% 100% 0 / 50%;            
    }
}

@media (max-width: 1000px) {
    .MoonArea {
        margin: 40px auto;
    }
}
