.TaskLists {
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    width: 90%;
    background-color: white;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;    
}

button:disabled {
    cursor: not-allowed
}

.Box1 {
    border: 1px solid gold;
}

.Box2 {
    border: 1px solid gold;
}

.Box3 {
    border: 1px solid gold;
}